<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vessel Request Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/datatables.min.css">
  <link rel="stylesheet" href="/static/css/style.css">


  <ul class="nav justify-content-end">
      <a class="nav-link active" aria-current="page" href="/table_view">Table View</a>
      <a class="nav-link active" aria-current="page" href="/vessel_request/Redirect from Vessel Map">Vessel Query</a>
      <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
  </ul>
  
    <div class="text-center">
    <img src="https://sgtradex.com/images/sgtradex-logo.svg" alt="SGTD Image" class="img-fluid center-image" style="width: 10rem">
    <div style="font-weight: bold; text-decoration: underline; color: rgb(223, 55, 4);">IMO NOT FOUND: {{ IMO_NOTFOUND }} </div>
    <div style="font-weight: bold; text-decoration: underline; color: rgb(223, 55, 4);">TABLE IMO NOT FOUND: {{ TABLE_IMO_NOTFOUND }} </div></div> 
  </head>
    <body>
    <header class="header_part">
        <!-- <img src="https://sgtradex.com/images/sgtradex-logo.svg" alt="" class="img-fluid"> -->
        <h4>Vessel Query Table View</h4>
    </header>
    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="data_table">