<div class="banner d-flex justify-content-between align-items-center">
    <div>
      <img src="{{ url_for('static', filename='SGTRADEX LOGO.png') }}" class="img-fluid" alt="SGTD Image" id="centered-image">
    </div>
    <div>
      <!-- <a href="/api/vessel_map" class="btn btn-dark">MAP</a> -->
      <a href="/vessel_request/Redirect Vessel Map" class="btn btn-dark">VESSEL QUERY</a>
      <a href="/logout" class="btn btn-dark">LOGOUT</a>
    </div>
  <div style="font-weight: bold; text-decoration: underline; color: rgb(223, 55, 4);">{{ IMO_NOTFOUND }}</div>
  </div>
  
  <style>
    /* Style for the banner with a black background */
    .banner {
      background-color: rgb(112, 112, 112);
      padding: 10px; /* Adjust padding as needed */
    }
  
    /* Style for black buttons with white text */
    .btn.btn-dark {
      background-color: black !important;
      color: white !important;
    }
    
    /* Center the image */
    #centered-image {
      display: block;
      margin: 0 auto;
    }
  </style>
  
  
  
  <style>
    /* Style for black buttons with white text */
    .btn.btn-dark {
      background-color: black !important;
      color: white !important;
    }
    
    /* Center the image */
    .center-image {
      display: block;
      margin: 0 auto;
    }
  </style>