  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/vessel_request/Redirect from Vessel Map">Vessel Query</a>
    </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
    </li>
        <img src="https://sgtradex.com/images/sgtradex-logo.svg" alt="SGTD Image" class="img-fluid center-image" style="width: 5rem">
  </ul>
  <div class="text-center">

  </div>
    <div style="font-weight: bold; text-decoration: underline; color: rgb(223, 55, 4);">IMO NOT FOUND: {{ IMO_NOTFOUND }} </div>