<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/register.css">
  <!-- Add your other CSS or JavaScript includes here -->
</head>
<body>
  <div class="container">
    <div class="text">
       Registration Form
    </div>
    <form action="/register" method="post"> <!-- Set action and method attributes -->
      <div class="form-row">
        <div class="input-data">
           <input type="text" required name="email">
           <div class="underline"></div>
           <label for="">Email</label>
        </div>
        <div class="input-data">
           <input type="text" required name="password">
           <div class="underline"></div>
           <label for="">Password</label>
        </div>
     </div>
     <div class="form-row">
        <div class="input-data">
           <input type="text" required name="pitstop_url">
           <div class="underline"></div>
           <label for="">Pitstop URL</label>
        </div>
        <div class="input-data">
           <input type="text" required name="api_key">
           <div class="underline"></div>
           <label for="">API Key</label>
        </div>
     </div>
     <div class="form-row">
        <div class="input-data">
           <input type="text" required name="participant_id">
           <div class="underline"></div>
           <label for="">Participant ID</label>
        </div>
        <div class="input-data">
           <input type="text" required name="gsheet_cred_path">
           <div class="underline"></div>
           <label for="">Database Credentials</label>
        </div>
     </div>
       <div class="form-row submit-btn">
          <div class="input-data">
             <div class="inner"></div>
             <input type="submit" value="Submit">
          </div>
       </div>
    </form>
  </div>
</body>
</html>


